<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mynetgear.ccvf3.common.code.CodeMapper">
	
	<!-- 슬라이드 이미지의 백그라운드 이미지 셋팅값 -->
	<select id="get_Common_Code_list" resultType="com.mynetgear.ccvf3.common.code.CodeDTO">
		SELECT
			CODE_SEQ
			, CODE
			, CODE_NAME
			, CODE_GROUP
			, CODE_GROUP_NAME
			, CODE_VALUE
			, CODE_SORT
		FROM
			TBL_CODE
	</select>
	
</mapper>